<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <style>
        header {
            padding: 2em 0;
        }
        
        main {
            padding: 1em 0;
            min-height: 20vh;
        }

        footer {
            text-align: center;
            padding: 2em 0;
        }
    </style>
</head>
<body>
    <!-- include: header.html -->
     <main>
        {{ embed }}
    </main>
    <!-- include: footer.html -->
</body>
</html>